body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: #edeff0 url('svgs/background.svg') repeat left top;
  background-size: 50px 50px; 
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
  }
  a:hover {
    color: #111;
  }

header {
  padding-top: 10px;
}
  header nav {
    padding-bottom: 50px;
    text-align: left;
  }
  header nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  header h1 {
    line-height: 1em;
  }

main {
  padding-top: 50px;
}
  main h2 {
  font-size: 28px;
}
  main ul {
    padding: 0;
  }
    main li {
      display: inline-block;
      color: #ba8058;
      margin-right: 20px;
	  /* set width for svgs */
	  width: 170px;
    }
      main li img {
        margin-bottom: 15px;
      }
      main li span {
        margin-left: -40px;
      }
      main li:last-child {
        margin-right: 0;
      }

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}

/*******************************
 Keyframes
 *******************************/
 @keyframes shrink {
	 0% {
		 transform: scale(1);
	 }
	 25% {
		 transform: scale(0.1);
	 }
	 50% {
		 transform: scale(0.5);
	 }
	 75% {
		 transform: scale(0.1);
	 }
	 100% {
		 transform: scale(1);
	 }
 }
 
 /*******************************
 SVG Styles
 *******************************/
a:hover .st0 {
	animation: shrink 1s ease-out;
	fill: #111;
}

 /* navigation svg icons */
.nav-icon {
	display: inline-block;
	width: 15.156px;
}

a .st0 {
	fill: #39add1;
	transform-origin: 50% 50%;
}

/* on small screens display h1 text instead of text on logo */
.text-on-logo {
	display: none;
}

.logo {
	margin: 0 auto;
	width: 140px;
}
.logo .st0{fill:#BA8058;}
.logo .st1{fill:#EAAA7F;}
.logo .st2{fill:#F4C6A6;}

/* display text on logo instead of h1 text */
@media screen and (min-width: 420px) {
	
	.logo-text-wrap h1 {
		display: none;
	}
	
	.text-on-logo {
		display: block;
	}
}

